
header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  article header{
    display: flex;
    height: 80px;
    width: auto;
    background: #424242;
  }
  
  .divIcons_And_SearchBar{
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .btnIconCamera{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    justify-self: flex-start;
  }
  
  .btnIconCamera img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    justify-self: flex-start;
  }
  
  .btnIconProfile{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    justify-self: flex-end;
  
  }
  
  .btnIconProfile img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    justify-self: flex-end;
  }
  
  .divSearchBar{
    width: auto;
    height: 35px;
    display: flex;
    align-self: center;
    
    
  }
  
  .btnLens{
    cursor: pointer;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
  }