header {
  display: flex;
  justify-content: center; 
  align-items: center;    
  width: 100%;
  z-index: 999999999;
  margin-bottom: 50px;
}

article header {
  display: flex;
  height: 80px;
  width: 100%;            
  background: #424242;
  justify-content: space-between; 
  align-items: center;     
  padding: 0 20px;       
}

.divIcons_And_SearchBar {
  display: flex;
  align-items: center;     
  justify-content: center;
  width: 100%;
}

.btnIconCamera, .btnIconProfile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btnIconProfile{
  transform: scale(1.8);
  overflow-x: hidden;
}

.btnIconCamera{
  transform: scale(1.3);
}

.btnIconCamera img, .btnIconProfile img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.divSearchBar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center; 
  margin: 0 auto;         
}

.divSearchBar input {
  width: 700px; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btnLens {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 50px;
}

.dropdownFilterOrder {
  width: auto;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdownFilterOrderAscDesc {
  border-radius: 20px;
  margin-left: 10px;
  height: 40px;
  width: 50px;
}

.titleApp{
  font-family: "Pacifico";
  display: flex;
  align-self: center;
  color: white;
  font-size: 30px;
  position: relative;
  left: 10px;
  top: 5px;
}

@media (max-width: 1440px) {

  .btnIconProfile{
    transform: scale(1.5);
  }

  .btnIconCamera{
    transform: scale(1.1);
  }

  .divSearchBar input {
    width: 600px;
  }
}

@media (max-width: 1024px) {
  .divSearchBar input {
    width: 400px;
  }

  .titleApp {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .divSearchBar input {
    width: 250px;
  }

  .titleApp {
    font-size: 24px;
  }

  .btnIconProfile {
    transform: scale(1.5);
  }

  .btnIconCamera {
    transform: scale(1.2);
  }

}

@media (max-width: 425px) {

  .divSearchBar input {
    width: 100%;
    height: 45px;
  }

  .divSearchBar{
    margin-left: 5px;
  }

  .divIcons_And_SearchBar{
    width: auto;
  }

  .dropdownFilterOrder{
    width: 60px;
    height: 25px;
    border-bottom-right-radius: 0%;
  }

  .dropdownFilterOrderAscDesc{
    width: 60px;
    height: 20px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
    position: relative;
    right: 10px;
  }

  .titleApp{
    display: none;
  }

  .btnLens{
    height: 45px;
  }
}

@media (max-width: 375px) {
  .divSearchBar input {
    width: 100%;
  }

  .titleApp {
    font-size: 18px;
  }

  .btnIconProfile {
    transform: scale(1.2);
  }

  .btnIconCamera {
    transform: scale(1);
  }
}

@media (max-width: 320px) {
  .divSearchBar input {
    width: 100%;
  }

  .divSearchBar{
    width: 100%;
  }

  .titleApp {
    font-size: 16px;
  }

  .btnIconProfile {
    transform: scale(1.2);
  }

  .btnIconCamera {
    transform: scale(0.8);
  }
}