
header{
    display: flex;
    margin-bottom: 50px;
    z-index: 999999999;
  }
  
  article header{
    display: flex;
    height: 80px;
    width: auto;
    background: #424242;
  }
  
  .divIcons_And_SearchBar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .btnIconCamera{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    justify-self: flex-start;
  }
  
  .btnIconCamera img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    justify-self: flex-start;
  }
  
  .btnIconProfile{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    justify-self: flex-end;
  
  }
  
  .btnIconProfile img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    justify-self: flex-end;
  }
  
  .divSearchBar{
    width: auto;
    height: 40px;
    display: flex;
    align-self: center;
    margin-left: 20px;   
    margin-right: 20px; 
  }

  .divSearchBar input{
    width: 700px;
  }
  
  .btnLens{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50px;
  }

  .dropdownFilterOrder{
    width: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .orderByOption{
    color: grey;
  }

  @media (max-width: 768px) {
    
  }