.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  transform: scale(1.4);
}

.popup.show {
  opacity: 1;
  pointer-events: all;
}

.popup-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  border: solid 5px white;
  padding-bottom: 30px;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content img {
  cursor: pointer;
}

.divThreeDotsPopUp{
  transform: scale(1.5);
  align-self: flex-end;
  position: relative;
  right: 90px;
  bottom: 10px;
  cursor: pointer;
  z-index: 9999;
}

.image-details p {
  position: relative;
}

.image-details{
  text-align: left;
  position: relative;
  left: 0;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  transform: scale(1.4);
  margin-left: 5px;
}

.image-details textarea {
  width: auto;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}

.heartLikedPopUp{
  position: relative;
  z-index: 9999;
  align-self: flex-end;
  right: 400px;
  top: 10px;
  display: flex;
}

.heartLikesClickedInMYPHOTOSPopUp{
  color: #48CFCB;
  width: auto;
  height: 25px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  cursor: pointer;
}

.divThreeDotsPopUp {
  position: relative;
  cursor: pointer;
}

.divDesc-Btns{
  display: flex;
  flex-direction: column;
}

.btnSave, .btnCancel{
  margin-top: 5px;
}

.crossClose{
  color: rgb(235, 9, 9);
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
}

@media (max-width: 1440px) {
  .popup-content{
    transform: scale(0.7);
  }

  .image-details{
    transform: scale(1.7);
    margin-left: 30px;
  }

  textarea{
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  
  .popup{
    transform: scale(1);
  }

  textarea{
    font-size: 12px;
  }

  .titleHomePage, .lineBeforeHomeTitle{
    transform: scale(0.8);
  }

}

@media (max-width: 768px) {

  

  .image-details{
    transform: scale(1.4);
    width: 200px;
    margin-left: 0;
  }


  .popup{
    transform: scale(1);
  }

  textarea{
    font-size: 15px;
  }

  .titleHomePage, .lineBeforeHomeTitle{
    transform: scale(0.7);
  }

}

@media (max-width: 425px) {

  .heartLikedPopUp{
    position: relative;
    left: -320px;
    top: -30px;
  }

  .divThreeDotsPopUp{
    bottom: 70px;
    right: 35px;
  }

  .popup{
    z-index: 999999999999999999999999999999999999999999999999999999999999;
    height: 100%;
    justify-self: left;
    overflow: hidden;
    background-size: 999999999999999999999999999999999999999999999999999999999999 ;
  }

  

  .popup-content {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    position: relative;
    overflow: hidden;
    transform: scale(0.6);
  }

  .image-details{
    width: 300px;
    height: 280px;
    border-radius: 5px;
  }

  .divDesc-Btns textarea{
    height: 50px;
  }

  .lineBeforeHomeTitle{
    transform: scale(0.6);
  }

}

@media (max-width: 375px) {

  .lineBeforeHomeTitle{
    transform: scale(0.6);
  }

  .heartLikedPopUp{
    position: relative;
    left: -270px;
  }

  .image-details{
    transform: scale(0.9);
    bottom: 60px;
  }

  .image-details textarea{
    height: 90px;
  }

  .popup-content{
    transform: scale(0.8);
  }

  .lineBeforeHomeTitle{
    transform: scale(0.5);
  }

}

@media (max-width: 320px) {

  .lineBeforeHomeTitle{
    transform: scale(0.5);
  }

  .labelDescription{
    top: 4px;
  }

  .heartLikedPopUp{
    left: -220px;
  }

  .lineBeforeHomeTitle{
    transform: scale(0.4);
  }

}