.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  transform: scale(1.4);
}

.popup.show {
  opacity: 1;
  pointer-events: all;
}

.popup-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  border: solid 5px white;
  padding-bottom: 30px;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content img {
  cursor: pointer;
}

.divThreeDotsPopUp{
  transform: scale(1.5);
  align-self: flex-end;
  position: relative;
  right: 90px;
  bottom: 10px;
  cursor: pointer;
  z-index: 9999;
}

.image-details p {
  position: relative;
}

.image-details{
  text-align: left;
  position: relative;
  left: 0;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  transform: scale(1.4);
  margin-left: 5px;
}

.image-details textarea {
  width: auto;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}

.heartLikedPopUp{
  position: relative;
  z-index: 9999;
  align-self: flex-end;
  right: 400px;
  top: 10px;
  display: flex;
}

.heartLikesClickedInMYPHOTOSPopUp{
  color: #48CFCB;
  width: auto;
  height: 25px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  cursor: pointer;
}

.divThreeDotsPopUp {
  position: relative;
  cursor: pointer;
}

.divDesc-Btns{
  display: flex;
  flex-direction: column;
}

.btnSave, .btnCancel{
  margin-top: 5px;
}

.crossClose{
  color: rgb(235, 9, 9);
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
}

@media (max-width: 1440px) {
  .popup-content{
    transform: scale(0.7);
  }

  .image-details{
    transform: scale(1.7);
    margin-left: 30px;
  }

  textarea{
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  
  .popup{
    transform: scale(1);
  }

  textarea{
    font-size: 12px;
  }

  .titleHomePage, .lineBeforeHomeTitle{
    transform: scale(0.8);
  }

}

@media (max-width: 768px) {
  .image-details{
    transform: scale(1.3);
    width: 200px;
    margin-left: 0;
  }

  .popup{
    transform: scale(1);
  }

  textarea{
    font-size: 15px;
  }

  .titleHomePage, .lineBeforeHomeTitle{
    transform: scale(0.7);
  }

}

@media (max-width: 425px) {
  .titleHomePage{
    transform: scale(0.5);
  }

  .lineBeforeHomeTitle{
    transform: scale(0.4);
  }

  .popup{
    z-index: 99999999;
   
  }

  .popup-content{
  }

  .popup-image{
    display: flex;
  }

  .heartLikedPopUp {
  display: flex; 
  align-items: center; 
}

.heartLikedPopUp{
  margin-left: 20px;
}

.numLikes {
  font-size: 14px; 
  margin: 0; 
}

.divThreeDotsPopUp {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

  .image-details{
    height: 350px;
    margin-left: -10px;
  }

  .image-details textarea{
    height: 60px;
  }

}

@media (max-width: 375px) {


}

@media (max-width: 320px) {}