@import 'header.scss'; 
@import 'footer.scss';

body{
    margin: 0;
    background: #229799;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
  }


  .cardImage {
    border: solid 5px white;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
  }
  
  .divAllImages:hover, svg:hover {
    transform: scale(1.1);
    transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
  }
  
  .divAllImages {
    margin-left: 20px;
    margin-right: 20px;
    z-index: 999999;
  }
  
  .image-item {
    width: 100%;
  }
  
  .image-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

.infiniteScrollContainer{
  margin: auto;
  margin-top: 5em;
  height: 35em;
  width: 50em;
  overflow: auto;
}

.heartLikes {
  background-color: none;
  width: auto;
  height: 25px;
  color: #48CFCB;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  bottom: 30px;
  left: 10px;
}

.heartLikesClicked{
  color: #48CFCB;
  width: auto;
  height: 25px;
  position: relative;
  bottom: 30px;
  left: 10px;
}

.heartLikesClickedInMYPHOTOS{
  color: #48CFCB;
  width: auto;
  height: 25px;
  position: relative;
  bottom: 30px;
  left: 10px;
  display: inline;
  cursor: pointer;
}

.divThreeDots{
  transform: scale(1.5);
  position: relative;
  bottom: 30px;
  justify-self: flex-end;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
}

.divBtnShowMore{
  margin-top: 500px;
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
}

.btnShowMore {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.labelDescription{
  position: relative;
  //bottom: 80px;
  margin-right: 5px;
  display: flex;
}

textarea{
  resize: none;
}

.numLikes{
  color: #48CFCB;
  justify-self: flex-start;
}

.btnSave, .btnCancel{
  border-radius: 8px;
  border: thin;
}

.btnSave{
  background-color: #0084ff;
  color: white;
}

.btnSave:disabled{
  background-color: grey;
}

/* Media Queries con Masonry */

/* Laptop L (1440px) */
@media (max-width: 1440px) {
  
  .infiniteScrollContainer {
    width: 45em;
    height: 30em;
  }

  .btnShowMore {
    font-size: 15px;
  }

  /* Masonry: 4 columnas */
  .divAllImages {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

/* Laptop (1024px) */
@media (max-width: 1024px) {
  .infiniteScrollContainer {
    width: 40em;
    height: 25em;
  }

  .btnShowMore {
    font-size: 14px;
  }

  .divAllImages {
    margin-left: 15px;
    margin-right: 15px;
    
  }
}

/* Tablet (768px) */
@media (max-width: 768px) {
  /*.infiniteScrollContainer {
    width: 40em;
    height: 25em;
  }

  .btnShowMore {
    font-size: 14px;
  }

  .divAllImages {
    margin-left: 15px;
    margin-right: 15px;
    
  }*/
}

/* Mobile L (425px) */
@media (max-width: 425px) {
  /* Ajustes de imagen */
  .image-item {
    margin-bottom: 8px; /* Espacio más pequeño entre imágenes */
    display: flex;
    justify-content: center;
  }

  .cardImage {
    height: 200px; /* Limita la altura para que las imágenes no se alarguen demasiado */
    padding-bottom: 30px;
  }

  .heartLikes,
  .heartLikesClicked {
    bottom: 30px;
    right: 4px;
    transform: scale(1.2);
  }

  .popup-content {
    max-width: 100%; /* Asegurarse de que el popup ocupe el 100% del ancho */
    padding: 10px;
  }

  .popup-image {
    max-width: 100%;
    height: auto;
  }

  /* Masonry (se adapta automáticamente, pero si es necesario puedes agregar reglas aquí) */
  .masonry {
    display: grid;
    grid-template-columns: 1fr; /* En pantallas pequeñas solo una columna */
    gap: 16px;
  }
}

/* Mobile M (375px) */
@media (max-width: 375px) {
  .image-item {
    margin-bottom: 8px; /* Espacio más pequeño entre imágenes */
    display: flex;
    justify-content: center;
  }

  .cardImage {
    height: 180px; /* Altura ligeramente más pequeña para ajustarse mejor */
  }

  .heartLikes,
  .heartLikesClicked {
    bottom: 30px;
    right: 4px;
  }

  .popup-content {
    max-width: 100%; /* Asegurarse de que el popup ocupe el 100% del ancho */
    padding: 10px;
  }

  .popup-image {
    max-width: 100%;
    height: auto;
  }

  /* Ajustes específicos para el diseño de columnas */
  .masonry {
    display: grid;
    grid-template-columns: 1fr; /* Solo una columna en pantallas pequeñas */
    gap: 12px; /* Espacio entre las imágenes */
  }
}

/* Mobile S (320px) */
@media (max-width: 320px) {
  .infiniteScrollContainer {
    height: 10em;
  }

  .btnShowMore {
    font-size: 10px;
    padding: 4px 8px;
  }

  .divAllImages {
    /* Masonry: 1 columna */
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

  .cardImage {
    padding-bottom: 30px;
  }

  .heartLikes, .heartLikesClicked, .heartLikesClickedInMYPHOTOS {
    height: 14px;
    bottom: 30px;
    left: 15px;
    transform: scale(1.8);
  }

  .divThreeDots {
    transform: scale(1);
    bottom: 10px;
    right: 0;
  }

  .labelDescription {
    bottom: 40px;
  }
}